body{
    margin: 0px;
    background: url(../Bilder/imageonline-co-noisedimage.png) no-repeat center center fixed ;
    background-size: cover;
}
.Ueberschriftbox{
    font-family: Verdana, Arial, sans-serif;
    background-image: url(../Bilder/HTL-Moe-Sportplatz.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: auto;
    text-align: center;
    -webkit-text-fill-color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgba(0, 255, 38, 0), 0 0 1em rgb(66, 255, 205, 0.5), 0 0 0.5em rgb(70, 255, 200, 0.5);
    font-size: 300%;
    letter-spacing: 0.25rem;
    display: table;
    width: 100%;
}
.box{
    background-color: rgb(0, 0, 0) ;
    height: 20px;
    width: 100%;
}


/*
.back{
    background-color: rgba(46, 15, 247, 0.129);
    display: table;
    margin: 50px auto;
    padding: 0px 10px;
    font-size: 30px;
    border: 4px static yellow;
    border-radius: 3px;
}
*/

.teacherdesc{
    background-color:rgba(90, 90, 90, 0.168);
    font-family: Verdana, Arial, sans-serif;
    border: 3px solid black;
    position: sticky;
    top: 0px;
}

.teachercard{
    margin:2% 6%;
}

.teacher{
    font-size: 1em;
}
.teachertext{
    font-size: 1.75em;
    border:grey 2px solid;
    display:table-cell;
    vertical-align: middle;
    width:60%;
    padding:0.5em;
}
li{
    font-weight: bold
}
.teacherbild{
    border:grey 2px solid;
    display:table-cell;
    vertical-align: middle;
    width:40%;
    padding:1em;
}

.desc{
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
}
h3{
    font-size: 1.5em;
}
