body{
    margin: 0px;
    background: url(/Bilder/imageonline-co-noisedimage.png) no-repeat center center fixed ;
    background-size: cover;
}
.Ueberschriftbox{
    font-family: Verdana, Arial, sans-serif;
    -webkit-text-fill-color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgba(0, 255, 38, 0), 0 0 1em rgb(66, 255, 205, 0.5), 0 0 0.5em rgb(70, 255, 200, 0.5);
    font-size: 200%;
    letter-spacing: 0.25rem;
    background-image: url(/Bilder/HTL-Moe-Sportplatz.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: auto;
    text-align: center;
    display: table;
    width: 100%;
}
.box{
    background-color: rgb(0, 0, 0) ;
    height: 20px;
    width: 100%;
}


/*
.back{
    background-color: rgba(46, 15, 247, 0.129);
    display: table;
    margin: 40px auto;
    padding: 0px 10px;
    font-size: 30px;
    border: 4px static yellow;
    border-radius: 3px;
}
*/

.map{
    display: block;
    margin:2% auto;
}

.rooms{
    display:table;
    width: 100%;
    margin: 10% auto;
}
h2{
    font-family: Verdana, Arial, sans-serif;
    -webkit-text-fill-color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgba(0, 255, 38, 0), 0 0 1em rgb(66, 255, 205, 0.5), 0 0 0.5em rgb(70, 255, 200, 0.5);
    font-size: 250%;
    letter-spacing: 0.25rem;
}
.R1{
    display:table-cell;
    vertical-align: middle;
    width:50%;
}
.R2{
    display:table-cell;
    vertical-align: middle;
    width:50%;
}
.R3{
    display:table-cell;
    vertical-align: middle;
    width:50%;
}
.R4{   
    display:table-cell;
    vertical-align: middle;
    width:50%;
}
.R5{
    display:table-cell;
    vertical-align: middle;
    width:50%;
}
.R6{   
    display:table-cell;
    vertical-align: middle;
    width:50%;
}