.Ueberschriftbox{
    border: 5px solid rgba(9, 133, 216, 0.258);
    font-family: Verdana, Arial, sans-serif;
    background-color: rgb(173, 207, 127);
    color: rgb(47, 29, 49);
    display: table;
    margin: 20px auto auto auto;
    padding: 0px 50px;
    font-size: 20px;
    border-radius: 20px;
}
.back{
    background-color: rgba(46, 15, 247, 0.129);
    display: table;
    margin: 40px auto;
    padding: 0px 10px;
    font-size: 30px;
    border-radius: 3px;
}